.main-header {
  padding: 0;
  margin: 0;
}

.main-nav {
  width: 1200px;
  margin: 0 auto;
  height: 56px;

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
  }

  &__list-item {
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    width: 240px;
    height: 56px;
    justify-content: center;
    align-items: center;
  }

  &__list-item a {
    text-decoration: none;
    color: #000000;
  }
}
